node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.env
.env.*
!.env.example

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
